__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.venv/
env/

.env

*.db
data/faiss.index
data/movie_ids.npy
data/*.csv

*.egg-info/
dist/
build/

.pytest_cache/
.ruff_cache/
.mypy_cache/

.DS_Store
*.swp
*.swo

.idea/
.vscode/
*.code-workspace
*.docx
notes/
